h1{
    text-align: center;
}
.icons{
    padding: 1%;
    display:flex;
    font-size: 19px;
    
    margin-left: 0px;
  
    gap: 180px;
    color: #716e6e;
    align-items: right;
    text-align: center;
}
i{
    font-size: 41px;
}


@media screen and (max-width: 779px) and (min-width:620px){
    .container,.row{
        display: grid;
        grid-template-columns:repeat(1, 1fr) ;
        grid-column-gap:1em;
        flex-direction: column;

    }

    iframe{
        width: 305px;
    }
    .icons,.ifram{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 620px) {
       .icons,.row,.ifram{
            display: grid;
            grid-template-columns:repeat(1, 1fr) ;
            grid-column-gap:1em;
            flex-direction: column-reverse;
            
    
        }
    }
    iframe{
        margin-right: 3px;
    }
   
body{
    background: #716e6e;
  
}
input{
    width: 5%;
    width: 19%;
}